<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 class="OnFP">Fill out the form</h1>
    <div class="container">
        <form method="POST" class="FForm">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" class = "btn btm-primary" value="Submit">
        </form>

    </div> 
</body>
</html>